{% extends 'PrestaShopBundle:Admin/Product/ProductPage:product.html.twig' %}


 {% block product_header %}
    {% set formName = form.step1.name  %}    
    {% if drawerModules %}
       {% for modul in drawerModules %}
            {% if modul.moduleName is same as('preorder')  %}
                  {% set  formName = modul.id %}
            {% endif %}
        {% endfor %}
    {% endif %}
    
    
      {{ include('@Product/ProductPage/Blocks/header.html.twig', {
        'formName': formName,
        'formType': form.step1.type_product,
        'is_multishop_context': is_multishop_context,
        'languages': languages,
        'help_link': help_link,
        'stats_link': stats_link
        })
      }}
      
    {% endblock %}